body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

.divGrid {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}




.gridSquare {
    outline: solid 1px black;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.hovered {
    background-color: red;
}